body {
  background-image: url("sky-image.jpg");
  background-size: cover;
}

.container {
  max-width: 500px;
  padding-top: 30px;
}

.card {
  background: rgba(159, 211, 199, 0.5);
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
}

button {
  border: none;
  background: transparent;
  padding: 0%;
  margin: 0%;
  font-size: 18px;
}

img {
  float: left;
  position: relative;
  top: -27px;
}

a {
  text-decoration: none;
}

.search-city-form .col-2 {
  padding: 0;
}

#search-button,
#current-position-button {
  margin: 5px 8px;
}

#current-city,
#country,
#current-temp,
#unit,
#day {
  color: #142d4c;
  font-weight: bold;
}

#current-max-temp,
.day h6,
.max-temp {
  font-weight: bold;
}

#current-temp {
  font-size: 50px;
  line-height: 35px;
}

.current-max-min {
  position: relative;
  bottom: -5px;
}

.units {
  font-size: 18px;
  position: relative;
  top: -25px;
}

.active {
  color: #142d4c;
  cursor: default;
  font-weight: bold;
}

.active:hover {
  color: black;
}

.weather-info .left-column {
  text-align: left;
}

#icon {
  text-align: center;
}

.weather-info .right-column {
  text-align: right;
}

.last-update,
.left-column,
.right-column,
.col {
  color: grey;
}

#weather-description,
#current-city {
  text-transform: capitalize;
}

.col {
  text-align: center;
}

.day h6 {
  color: black;
}

.weather-icon img {
  float: none;
  top: 0;
}

footer {
  margin-bottom: 100px;
}

@media (max-width: 576px) {
  .search-city-form .col-10 {
    padding: 0 6px;
  }

  .search-city-form .col-2 {
    padding: 0;
  }

  #search-button {
    margin: 5px 2px 5px 0;
  }

  #current-position-button {
    margin: 5px 3px;
  }

  .weather-info .row {
    display: grid;
    grid-template-columns: 1fr 0.2fr 1.8fr;
  }

  .weather-info .left-column {
    padding-right: 0;
  }

  .weather-info .center-column {
    padding: 0;
  }

  .weather-info .right-column {
    padding-left: 0;
  }

  #weather-forecast .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  footer {
    margin-bottom: 50px;
  }
}
