button {
  border: none;
  background: transparent;
  padding: 0%;
  margin: 0%;
  font-size: 18px;
}

img {
  float: left;
  position: relative;
  top: -27px;
}

a {
  text-decoration: none;
}

.container {
  max-width: 700px;
  padding-top: 10px;
}

.card {
  background-color: transparent;
  border: 1px solid #885df1;
  border-radius: 15px;
}

#search-button {
  position: relative;
  left: -7px;
  bottom: -7px;
}

#current-position-button {
  position: relative;
  left: 5px;
  bottom: -7px;
}

#current-city,
#current-temp,
.day {
  font-family: "Rampart One", cursive;
  color: black;
}

#current-city,
#current-temp,
#current-max-temp,
.day h6,
.max-temp {
  font-weight: bold;
}

#current-temp {
  font-size: 50px;
  line-height: 35px;
}

.current-max-min {
  position: relative;
  bottom: -5px;
}

.units {
  font-size: 18px;
  position: relative;
  top: -25px;
}

.active {
  color: black;
  cursor: default;
}

.active:hover {
  color: black;
}

.right-column {
  text-align: right;
}

#current-date,
.left-column,
.right-column,
.col {
  color: grey;
}

#weather-description,
#current-city {
  text-transform: capitalize;
}

.col {
  text-align: center;
}

.day h6 {
  color: black;
}

.weather-icon img {
  float: none;
  top: 0;
}
